# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Windows thumbnail cache files
Thumbs.db
